/* Resume Section */
.resume {
    padding-top: 60px ;
    padding-bottom: 160px !important;
    padding-inline: 150px !important;
   
    background-color: #f9f9f9;
  }
  
  .resume-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .left-content {
    flex: 1;
    max-width: 600px;
    text-align: left; 
  }
  
  .left-content h2 {
    font-size: 2.5rem;
    color: #34495e;
    margin-bottom: 15px;
    text-align: left; 
    
  }
  
  .left-content h3 {
    font-size: 1.75rem;
    color: #7f8c8d;
    margin-bottom: 20px;
    text-align: left; 
  }
  
  .statistics {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .stat {
    text-align: center;
    flex: 1;
  }
  
  .stat h4 {
    font-size: 2rem;
    font-weight: bold;
    color: #aa5df7;
  }
  
  .stat p {
    font-size: 1rem;
    color: #7f8c8d;
  }
  
  a.btn {
    display: inline-block;
    background-color: #34495e;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  a.btn:hover {
    background-color: #34495e;
  }
  
  .right-content {
    flex: 1;
    max-width: 300px;
    display: flex;
    justify-content: flex-end;
  }
  
  .profile-img2 {
    border-radius: 0px;
    width: 100%;
    max-width: 250px;
    object-fit: cover;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .resume {
        padding-top: 40px ;
        padding-bottom: 60px !important;
        padding-inline: 40px !important;
    }
    .resume-content {
      flex-direction: column;
      align-items: center;
    }
  
    .left-content {
      text-align: left; /* Ensure text is left-aligned even in mobile view */
      margin-bottom: 20px;
    }
  
    .statistics {
      flex-direction: column;
      align-items: center;
    }
  
    .stat {
      margin-bottom: 10px;
    }
  
    .right-content {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }
  
    .profile-img {
      max-width: 150px;
    }
  }
  