/* Resume Section */
.resume {
    padding-top: 60px ;
    padding-bottom: 100px !important;
    padding-inline: 150px !important;
   border-top-left-radius: 120px;
   border-top-right-radius: 120px;
    /* background-color: #f9f9f9; */
  }
  
  .resume-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .left-content {
    flex: 1;
    max-width: 500px;
    text-align: left; 
  }
  
  .left-content h2 {
    font-size: 2.5rem;
    color: #191919;
    margin-bottom: 15px;
    margin-top: 50px;
    text-align: left; 
    
  }
  
  .left-content p {
    font-size: 1rem;
    color: #191919;
    margin-bottom: 20px;
    text-align: left; 
  }
  
  .statistics {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .stat {
    text-align: center;
    flex: 1;
  }
  
  .stat h4 {
    font-size: 2rem;
    font-weight: bold;
    color: #9500ff;
  }
  
  .stat p {
    font-size: 0.8rem;
    color: #191919;
    text-align: center;
  }
  
  a.btn {
    display: inline-block;
    background-color: #191919;
    color: white;
    padding: 16px 28px;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 26px;
    transition: background-color 0.3s ease;
  }
  
  a.btn:hover {
    background-color: #333333;
    cursor: pointer;
  }
  
  .right-content {
    flex: 1;
    max-width: 400px;
    display: flex;
    justify-content: flex-end;
  }
  
  .profile-img2 {
    border-radius: 0px;
    width: 100%;
    max-width: 350px;
    object-fit: cover;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .resume {
        padding-top: 40px ;
        padding-bottom: 60px !important;
        padding-inline: 40px !important;
        border-top-left-radius: 40px;
   border-top-right-radius: 40px;
    }
    .resume-content {
      flex-direction: column;
      align-items: center;
    }
  
    .left-content {
      text-align: left; /* Ensure text is left-aligned even in mobile view */
      margin-bottom: 20px;
    }
  
    .statistics {
      flex-direction: column;
      align-items: center;
    }
  
    .stat {
      margin-bottom: 10px;
    }
  
    .right-content {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }
  
    .profile-img {
      max-width: 150px;
    }
  }
  